
@{
    ViewData["Title"] = "Hakkımda";
}

<h1>Hakkımda</h1>

<p>
    Atatürk Üniversitesi Bilgisayar Mühendisliği bölümünden 2023 Ocak ayında mezun oldum. Stajımı Momende Bilişimde 2022 Ekim ayı içerisinde tamamlamış bulunmaktayım. 2012 Demirkıran Kırtasiyede depo ve sevkiyat işlerinde bulundum ve 2014 Şahinler Kimyada ise muhasebe bölümünde çalışmış bulunmaktayım. Üniversitede ise birçok günübirlik işlerde çalıştım. Hopfrög Kids firmasında yarı zamanlı E-ticaret elemanı olarak çalıştım. İş hayatında çalıştığım yerlerin çoğu farklı sektörler üzerineydi. Bu sebeple farklı çalışma modellerini görme fırsatım oldu ve bana büyük bir tecrübe kazandırdı ayrıca genç yaşta iş hayatına atılmanın avantajları bana özgüven ve çalışma prensibi kazandırdı.
</p>